<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Alumnos</title>
	</head>
	<body>
		<form method="POST" action="/store" enctype="multipart/form-data">
			<label for="txtNombre">Nombre:</label>
			<input type="text" name="txtNombre" id="txtNombre" />
			<br /><br />
			<label for="txtApellido">Apellido:</label>
			<input type="text" name="txtApellido" id="txtApellido" />
			<br /><br />
			<label for="txtMail">Mail:</label>
			<input type="email" name="txtMail" id="txtMail" />
			<br /><br />
			<label for="txtHorario">Elije tu horario:</label>
			<select id="txtHorario" name="txtHorario">
				<option value="l-6a8">Lunes de 18 a 20hs</option>
				<option value="m-9a11">Martes de 9 a 11hs</option>
				<option value="m-15a17">Martes de 15 a 17hs</option>
				<option value="m-17a19">Martes de 17 a 19hs</option>
				<option value="m-19a21">Martes de 19 a 21hs</option>
				<option value="mi-9a11">Miércoles de 9 a 11hs</option>
				<option value="mi-19a21">Miércoles de 19 a 21hs</option>
				<option value="j-15a17">Jueves de 15 a 17hs</option>
				<option value="j-17a19">Jueves de 17 a 19hs</option>
				<option value="j-19a21">Jueves de 19 a 21hs</option>
				<option value="v-9a11">Viernes de 9 a 11hs</option>
				<option value="v-11a13">Viernes de 11 a 13hs</option>
			</select>
			<br /><br />
			<label for="txtCel">Celular:</label>
			<input type="text" name="txtCelular" id="txtCelular" />
			<br /><br />
			<label for="txtFoto">Foto de alguna pieza que quieras subir:</label>
			<input type="file" name="txtFoto" id="txtFoto" />
			<br /><br />
			<input type="submit" name="cargar nuevo alumno" />
		</form>
	</body>
</html>
