{% include 'header.html'%}
<h1>Hello world!</h1>
<table class="tg">
	<thead>
		<tr>
			<th class>#</th>
			<th class>Foto</th>
			<th class>Nombre</th>
			<th class>Apellido</th>
			<th class>Horario</th>
			<th class>Teléfono</th>
			<th class>Mail</th>
		</tr>
	</thead>
	<tbody>
		{% for alumno in alumnos %}
		<tr>
			<td>{{alumno[0]}}</td>
			<td>{{alumno[6]}}</td>
			<td>{{alumno[1]}}</td>
			<td>{{alumno[2]}}</td>
			<td>{{alumno[4]}}</td>
			<td>{{alumno[5]}}</td>
			<td>{{alumno[3]}}</td>
			<td>
				<a href="/modify/{{alumno[0]}}">Modificar</a>
				<a href="/delete/{{alumno[0]}}">Borrar</a>
			</td>
		</tr>
		{% endfor%}
	</tbody>
</table>
{% include 'footer.html'%}
